<style>
  svg.ember-nvd3 {
    height: 300px;
  }
</style>

<div class="">
    <h1>Welcome to Ember NVD3</h1>

    <button {{action "refresh"}} class="form-control">Refresh</button>

    <h2>Sparkline Plus</h2>
    {{nvd3-sparkline-plus data=sparklinePlusData}}

    <h2>Line Chart</h2>
    {{nvd3-line-with-focus-chart data=lineChartData}}

    <h2>Historical Bar Chart</h2>
    {{nvd3-historical-bar-chart data=historicalBarChartData}}

    <h2>Discrete Bar Chart</h2>
    {{nvd3-discrete-bar-chart data=discreteBarChartData}}

    <h2>Pie Chart</h2>
    {{nvd3-pie-chart data=pieChartData}}

</div>
